---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---
Research Projects
======
<img src="https://github.com/ZeddyCraft/itsjon/blob/master/images/IMG_8771.JPG" alt="Thesis Defense"> 
My most recent work includes a Senior Honors Thesis under Dr. Luke Glowacki, where I investigated the role of post-combat purification rituals in mitigating symptoms of PTSD. Supported by multiple competitive research grants, I built a cross-cultural database from ethnographic materials and used Bayesian statistical methods to identify patterns associated with psychological healing. This research has been presented at both regional and national conferences and is currently being prepared for publication.

<img src="https://github.com/ZeddyCraft/itsjon/blob/master/images/IMG_7197.HEIC" alt="Lab Members"> 
Beyond this project, I’ve contributed to diverse research efforts in clinical, cultural, and psycholinguistic. As Project Coordinator at BU’s Psycholinguistics Lab, I led a team investigating the “foreign language effect” in Mandarin-English speakers. I’ve also conducted cross-cultural analyses of peacemaking practices and developed strong skills in both qualitative and quantitative research—ranging from ethnographic coding to statistical modeling in R, SPSS, and Excel.
<img src="https://github.com/ZeddyCraft/itsjon/blob/master/images/IMG_7214.HEIC" alt="NEPA Conference"> 
My applied work with local schools and youth organizations in Boston has reinforced my commitment to making research actionable and grounded in lived experience. I believe in the power of interdisciplinary inquiry and community-based collaboration to shape a more inclusive future for mental health science. 

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

